<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    {{>headerlinks}}
    <link rel="stylesheet" href="css/style.css">

   
</head>

<body>
    {{>header}}

    <div class="container">
        <div class="row custom-section d-flex align-items-center">
            <div class="col-12 col-lg-4">
                <h2>Team Work</h2>
                <h3>Process</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, quidem!</p>
                <a href="#">Learn more</a>
            </div>
            <div class="col-12 col-lg-8">
                <img src="images/mainbenner.png" alt="Team process banner">
            </div>
        </div>
    </div>


 {{>footer}}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   


</body>

</html>